.left {
	background-color: blue;
}
.right {
	background-color: red;
	text-align: center;
	padding: 50px;
	font-size: 300%;
	color: white;
}
.remelis {
	border: solid white 3px;
	float: left;
	padding: 20px;
	font-size: 200%;
	color: white;
	margin: 30px;
}
